body {
    font-family: 'Montserrat', sans-serif;
}



.container {
    max-width: 1300px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

/*==========================================================
Хедер
===========================================================*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 12px 0;
  }

  .header__info {
    padding-top: 40px;
    gap: 60px;
  }

  

  .header__menu {
    gap: 50px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    
  }

  li:hover {
    color: #037E8C;
  }

  .phone__img {
    width: 17px;
    height: 17px;
  }

  .header__right {
    text-align: right;
  }

  .header__phone {
    gap: 13px;
    align-items: center;
    margin-bottom: 11px;
  }

  .header__phone_text {
    font-size: 20px;
    font-weight: 600;
    color: white;
    
  }

  .button {
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 13px 20px;
    border-radius: 7px;
    cursor: pointer;
  }

  .button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

/*==========================================================
первый экран
===========================================================*/

.hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .hero__bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }