body {
    font-family: 'Montserrat', sans-serif;
}



.container {
    max-width: 1300px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.center {
  align-items: center;
}

h1 {

  margin-top: 262px;
  margin-bottom: 37px;
  font-size: 70px;
  font-weight: 800;
  color: white;
  line-height: 1.25;
  letter-spacing: 0.08em;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 60px;
}

p {
  font-size: 14px;
  font-weight: 400;
}

/*==========================================================
Хедер
===========================================================*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 12px 0;
  }

  .header__info {
    padding-top: 40px;
    gap: 60px;
  }

  

  .header__menu {
    gap: 50px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    
  }

  li:hover {
    color: #037E8C;
  }

  .phone__img {
    width: 17px;
    height: 17px;
  }

  .header__right {
    text-align: right;
  }

  .header__phone {
    gap: 13px;
    align-items: center;
    margin-bottom: 11px;
  }

  .header__phone_text {
    font-size: 20px;
    font-weight: 600;
    color: white;
    
  }

  .button {
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 13px 20px;
    border-radius: 7px;
    cursor: pointer;
  }

  .button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

/*==========================================================
первый экран
===========================================================*/

.hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .hero__bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .hero__content {
    position: relative;
    z-index: 10;
    margin-bottom: 186px;
  }



  .lead {

    font-size: 24px;
    font-weight: 500;
    color: white;
    
  }

  .lead__button {
   display: flex;
   align-items: center;
   font-size: 16px;
   font-weight: 600;
   background-color: #037E8C;
   padding: 12px 12px 12px 23px;
   color: white;
   border-radius: 5px;
   margin-top: 80px;
   gap: 32px;
   cursor: pointer;
  }

  .lead__button:hover {
   background-color: #025f69;
   gap: 38px;
   transition: 0.1s;
  }

  .lead__arrow{
    display: block;
    
  }


  /*==========================================================
иконки
===========================================================*/

.advantages {
  position: relative;
  z-index: 5;
  padding-top: 47px;
  margin-bottom: 40px;
}

.advantage {
  display: grid;
  gap: 21px;
}

.advantage__lead_big {
  font-size: 18px;
  font-weight: 600;
}

.advantage__lead_small {
  font-size: 16px;
  font-weight: 300;
}


  /*==========================================================
маршруты
===========================================================*/

.grey_back {
  background-color: #F4F4F4;
  padding: 60px 0;
}

.route {
  justify-content:left;
  align-items: baseline;
  flex: 0 0 60%;
}

.route__content {
  display: flex;
}

.route__decor_line {
  width: 80px;
  height: 4px;
  background-color: #037E8C;
  margin-right: 30px;
}

.route__name {
  display: block;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  
}

.route__line {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.route__icon {
  width: 13px;
  height: 13px;
  margin-right: 17px;
}

.route__price {
  display: block;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}

.route__price::after {
  content: url(./images/rouble_sign.png);
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

.route__line_uppercase, .route__line_num {
  font-size: 16px;
}


.route__line_uppercase {
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 7px;
}

.route__line_num {
font-weight: 600;
}

.route__last_line {
  margin-bottom: 30px;
}

.route__text_title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.route__text_title:after {
  content: url(./images/route_icon.png);
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;

}

.route__text_p {
  width: 530px;
  margin-bottom: 50px;
}

.route__buttons {
  display: flex;
  gap: 15px;
}

.button_stroke {
  display: block;
  color: #037E8C;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 44px;
  border: 2px solid #037E8C;
  border-radius: 10px;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button_stroke:hover, .button_fill:hover {
  transition: 0.1s;
  transform: scale(1.02);
}

.button_fill {
  display: block;
  color: white;
  background-color: #037E8C;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 30px;
  border: 2px solid #037E8C;
  border-radius: 10px;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.route__slider {
  flex: 0 0 40%;
}